{% extends 'base.html' %}

{% block main_title %}Detail Blog {% endblock %}

{% block main_content %}
    <hr>
   <h3> {{ post.name }} </h3>
        <strong>Description:</strong> {{ post.description }} <br>
        <strong>Content:</strong> {{ post.content }} <br>
        <img src="{{ post.url }}" alt="{{ post.name }}"><br>
        <strong>Publication date:</strong> {{ post.publication_date |date:'d/m/Y' }} {{ post.publication_date |time:'H:i'}}<br>
        <strong>Categories:</strong> {% for category in post.categories.all %}
            {{ category.name }} <br>
        {% endfor %}

{% endblock %}
